#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp GRAVE       &kp N1  &kp N2  &kp N3        &kp N4        &kp N5              &kp N6     &kp N7         &kp N8     &kp N9      &kp N0     &kp MINUS
&kp TAB         &kp Q   &kp W   &kp E         &kp R         &kp T               &kp Y      &kp U          &kp I      &kp O       &kp P      &kp BACKSLASH
&tog 1          &kp A   &kp S   &kp D         &kp F         &kp G               &kp H      &kp J          &kp K      &kp L       &kp SEMI   &kp SQT
&kp LEFT_SHIFT  &kp Z   &kp X   &kp C         &kp V         &kp B               &kp N      &kp M          &kp COMMA  &kp PERIOD  &kp SLASH  &kp ESC
                                &kp LEFT_ALT  &kp LEFT_WIN  &kp LEFT_BRACKET    &kp EQUAL  &mo 1          &tog 2
                                              &kp SPACE     &kp DELETE          &kp ENTER  &kp BACKSPACE
            >;
        };

        layer_1 {
            bindings = <
&kp LS(GRAVE)   &kp LS(N1)  &kp LS(N2)  &kp LS(N3)    &kp LS(N4)    &kp LS(N5)           &kp LS(N6)     &kp LS(N7)     &kp LS(N8)     &kp LS(N9)      &kp LS(N0)     &kp LS(MINUS)
&kp TAB         &kp LS(Q)   &kp LS(W)   &kp LS(E)     &kp LS(R)     &kp LS(T)            &kp LS(Y)      &kp LS(U)      &kp LS(I)      &kp LS(O)       &kp LS(P)      &kp LS(BACKSLASH)
&tog 1          &kp LS(A)   &kp LS(S)   &kp LS(D)     &kp LS(F)     &kp LS(G)            &kp LS(H)      &kp LS(J)      &kp LS(K)      &kp LS(L)       &kp LS(SEMI)   &kp LS(SQT)
&kp LEFT_SHIFT  &kp LS(Z)   &kp LS(X)   &kp LS(C)     &kp LS(V)     &kp LS(B)            &kp LS(N)      &kp LS(M)      &kp LS(COMMA)  &kp LS(PERIOD)  &kp LS(SLASH)  &kp ESC
                                        &kp LEFT_ALT  &kp LEFT_WIN  &kp RIGHT_BRACKET    &kp LS(EQUAL)  &mo 0          &tog 2
                                                      &kp SPACE     &kp DELETE           &kp ENTER      &kp BACKSPACE
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
                                &trans  &trans    &trans  &trans
            >;
        };

        /* layer_2 {
            bindings = <
&none  &none   &none    &none   &none         &none         &kp N1         &none         &none     &none  &none   &to 0
&none  &none   &none    &none   &none         &none         &none         &none          &rgb_ug RGB_BRD &rgb_ug RGB_BRI  &rgb_ug RGB_EFF   &rgb_ug RGB_TOG
&none  &none   &none    &none   &none         &none         &none         &mkp LCLK     &mkp RCLK  &none  &none   &none
&none  &none   &none    &none   &bt BT_NXT  &bt BT_CLR    &none         &none         &none     &none  &none   &none
                                   &none         &none         &none         &none         &none
                                                 &none         &none         &none
            >;
          trackball-bindings = <&tsl>;
            
        };

       Mouse {
            bindings = <
&none        &none         &none         &none         &none      &none         &none       &none      &none         &none         &none         &none
&none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 3  &none      &bt BT_CLR    &bt BT_CLR  &none      &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &none
&none        &trans        &trans        &mkp MCLK     &trans     &none         &none       &trans     &mkp MCLK     &trans        &trans        &none
&bootloader  &trans        &mkp RCLK     &mo 4         &mkp LCLK  &mo 5         &mo 5       &mkp LCLK  &mo 4         &mkp RCLK     &trans        &bootloader
                                         &mo 5         &mkp LCLK  &mkp RCLK     &mkp RCLK   &mkp LCLK
                                                       &none      &trans        &trans
            >;

            
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
                
                
                trackball-bindings = <&tsl>;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
                trackball-bindings = <&tmv_fine>;
                
        };*/
    };
};
